<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= title %></h2>
  </div>

  <div class="card-section">
    <div class="row column">
      <%= form.number_field :num_tokens, label: t(".number_of_tokens_to_generate") %>
    </div>
  </div>
</div>